@import '../../styles/styles.sass'

/* Theme */
+theme(v-input) using ($material)
  &:not(.v-input--is-disabled)
    input,
    textarea
      color: map-deep-get($material, 'text', 'primary')

  input::placeholder,
  textarea::placeholder
    color: map-deep-get($material, 'text', 'disabled')

  &--is-disabled
    .v-label,
    input,
    textarea
      color: map-deep-get($material, 'text', 'disabled')

.v-input
  display: flex
  flex: 1 1 auto
  flex-wrap: wrap
  font-size: 16px
  text-align: left

  .v-progress-linear
    top: calc(100% - 1px)
    left: 0
    margin: 0
    position: absolute

  input
    flex: 1 1 auto
    line-height: 20px
    padding: 8px 0 8px
    max-width: 100%
    min-width: 0px
    width: 100%
    max-height: 32px

  input,
  textarea
    // Remove Firefox red outline
    &:invalid
      box-shadow: none

    &:focus,
    &:active
      outline: none

  .v-label
    height: 20px
    line-height: 20px

  &__append-inner,
  &__append-outer,
  &__prepend-inner,
  &__prepend-outer
    display: inline-flex
    line-height: 1

    .v-icon
      user-select: none

  &__prepend-inner,
  &__prepend-outer
    margin-right: 8px

    +rtl()
      margin-left: 8px
      margin-right: 0

  &__append-inner,
  &__append-outer
    margin-left: 8px

    +rtl()
      margin-left: 0
      margin-right: 8px

  &:not(.v-input--hide-details)
    .v-input__prepend-outer,
    .v-input__append-outer
      margin-bottom: 16px

  &__details,
  &__wrapper
    padding: 0 16px

  &__details
    display: flex
    flex: 1 0 auto
    max-width: 100%
    overflow: hidden
    padding-top: 4px

  &__slot
    align-items: center
    color: inherit
    display: flex
    min-height: inherit
    position: relative
    transition: $primary-transition
    width: 100%

  &__content
    display: flex
    flex: 1 1 auto
    flex-wrap: wrap

  &__wrapper
    align-items: center
    display: flex
    flex: 1 0 100%
    min-height: 56px
    position: relative

  &__container
    align-items: center
    display: flex
    width: 100% // For IE11

  &__icon
    align-items: center
    display: inline-flex
    height: 24px
    flex: 1 0 auto
    justify-content: center
    min-width: 24px
    width: 24px

    &--clear
      border-radius: 50%

  &--is-disabled:not(.v-input--is-readonly)
    pointer-events: none

  &--is-loading > .v-input__control > .v-input__slot
    &:before,
    &:after
      display: none

  &--has-state
    &.error--text .v-label
      animation: shake .6s map-get($transition, 'swing')
