@mixin grid-list($gutter)
  > .layout > .flex
    padding: ($gutter / 2)

  > .layout:only-child
    margin: -($gutter / 2)

  > .layout:not(:only-child)
    margin: auto #{-($gutter / 2)}

    &:first-child
      margin-top: -($gutter / 2)

    &:last-child
      margin-bottom: -($gutter / 2)
